<div class="w-75 mx-auto shadow p-4 mt-5 mb-5">
  <h1 class="text-center heading title"> Create A New Account </h1>
  <div>
    <%= form_with model: @user do |f| %>
      <div class= "form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control"%>
      </div>
      <div class="custom-file my-3">
        <%= f.file_field :avatar, class: 'custom-file-input', direct_upload: true, accept: "image/jpeg, image/gif, image/png" %>
        <%= f.label :avatar, class: 'custom-file-label' %>
      </div>
      <div class="d-flex justify-content-center mx-auto green-color rounded">
      <%= f.submit "Sign Up", class: "btn mx-auto d-block button"%>
      </div>
      <div class = "bottom-link mt-3 text-center">
        <%= "Already have an account?" %>
        <%= link_to 'Sign In', login_path, class: "title"%>
      </div>
    <%end%>
  </div>
</div>