<%= image_tag @user.avatar.url %>
<%= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %>

<div class="w-75 mx-auto shadow p-4 mt-5 mb-5">
<h1 class="text-center heading title"> Sign Up </h1>
<div>
<%= form_with model: @user do |f| %>
  <div class= "form-group">
    <%= f.label :Name %>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="custom-file my-3">
    <%= f.file_field :avatar, class: 'custom-file-input avatar', direct_upload: true %>
    <%= f.label :avatar, class: 'custom-file-label' %>
  </div>
  <%= f.submit "Sign Up", class: "btn mx-auto w-75 d-block button"%>
  <div class = "bottom-link mt-3 text-center">
  <%= "Already have an account?" %>
  <%= link_to 'Sign In', login_path, class: "title"%>
  </div>
<%end%>
</div>
</div>